<div class="flex flex-col text-[#F3F3F3] px-40 py-8 mt-[-25px]">
    <div class="grid grid-cols-5 grid-rows-2 gap-8">
      <div *ngFor="let game of games" class="relative group perspective">
        <app-card [game]="game"></app-card>
      </div>
    </div>
    <div class="flex w-full justify-center mt-8">
      <button
        *ngIf="!isLoading"
        (click)="loadMoreGames()"
        class="w-32 py-2 border border-[#F3F3F3] rounded-lg text-sm font-sans hover:cursor-pointer
               hover:bg-[#F3F3F3] hover:text-[#10172B] transition duration-300">
        LOAD MORE
      </button>
      <div *ngIf="isLoading" class="flex items-center justify-center">
        <div class="w-6 h-6 border-4 border-t-transparent border-[#F3F3F3] rounded-full animate-spin"></div>
      </div>
    </div>
  </div>
