<div class="absolute top-0 left-0 z-1 w-full h-screen">
  <img ngSrc="assets/home/welcome_image.webp" priority alt="Welcome Image" class="w-full h-auto object-cover"
       fill>
  <div class="absolute top-50 left-30 px-7 py-6 rounded-[20px] bg-[#00000099] text-white backdrop-blur-[3px]">
    <h1 class="text-3xl/11 text-[#F3F3F3] font-sans font-semibold">Track your games, level up<br>your experience.</h1>
    <p class="mt-6 mr-8 mb-1 text-lg/8.5 text-[#F3F3F3] font-sans">Every hero needs a quest log. Keep track of your played, <br>
    pending and completed games as you embark on epic <br>adventures across diferent worlds. From indie gems to AAA <br>
    titles, make sure no game gets left behind.</p>
  </div>
</div>
