<div
  class="relative w-full h-full border-1 rounded-[10px] border-[#F3F3F3] transition-transform duration-500 ease-in-out group-hover:rotate-y-180">
  <div *ngIf="isLoggedIn && isGameInCollection">
    <img routerLink="/error" src="assets/home/collection_label.webp" alt="Label Icon"
         class="absolute top-[-1px] right-2 w-7 h-7 z-1 hover:cursor-pointer hover:scale-115 transition-transform duration-300">
    <!-- TODO: Que el routerLink lleve a /collection -->
  </div>
  <div *ngIf="isLoggedIn && isGameInCollection">
    <div class="relative group">
      <img (click)="removeFromCollection()" src="assets/home/trash_icon.webp" alt="Trash Icon"
           class="absolute top-[-1px] left-1 w-7 h-7 z-1 opacity-0 group-hover:opacity-100 hover:cursor-pointer
           hover:scale-115 transition-all duration-300">
    </div>
  </div>
  <img src="{{ game.cover }}" alt="{{ game.name }} Cover"
       class="w-full h-auto object-cover rounded-[10px] brightness-100 group-hover:brightness-15 transition-all duration-300">
  <div
    class="absolute inset-0 text-transparent flex flex-col rounded-[10px] items-center justify-around
                 p-3 pt-4 opacity-0 group-hover:opacity-100 group-hover:text-[#F3F3F3] transition-all duration-400
                 backface-hidden *:rotate-y-180">
    <div class="inline-block w-45 h-20 mx-auto overflow-hidden truncate whitespace-nowrap" [title]="game.name">
      <h3 class="text-lg font-bold text-center pt-2">
        {{ game.name.length > 15 ? (game.name | slice:0:18) + '...' : game.name }}
      </h3>
    </div>
    <div class="flex flex-col justify-around h-100 w-full px-auto mx-auto text-center text-sm py-2">
      <b>Genres:</b>
      <div class="inline-block w-30 mb-2 mx-auto overflow-hidden truncate whitespace-nowrap"
           [title]="game.genres.join(', ')">
        <span>{{ game.genres.join(', ') }}</span>
      </div>
      <b>Platforms:</b>
      <div class="inline-block w-30 mb-2 mx-auto overflow-hidden truncate whitespace-nowrap"
           [title]="game.platforms.join(', ')">
        <span>{{ game.platforms.join(', ') }}</span>
      </div>
      <div class="flex justify-around w-full px-auto mx-auto text-center text-sm">
        <div class="flex flex-col w-full">
          <b class="block">Release:</b>
          <p class="mb-2">{{ game.first_release_date | date: "dd MMM, yyyy" }}</p>
        </div>
        <div class="flex flex-col w-full">
          <b class="block">Rating:</b>
          <p class="text-center pb-2">{{ formatRating(game.rating) }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="isLoggedIn && !isGameInCollection">
      <button (click)="addToCollection()"
              class="bg-[#10172B] text-[#F3F3F3] border-1 rounded-[10px] text-[12px] mx-6 px-2 py-1 mb-1
                           hover:cursor-pointer hover:scale-105 transition-transform duration-300">
        ADD TO <br> COLLECTION
      </button>
    </div>
    <div *ngIf="isLoggedIn && isGameInCollection" class="flex justify-between w-full mb-2">
      <div
        class="flex justify-around w-full text-sm **:hover:cursor-pointer **:hover:scale-110 **:transition-all **:duration-300">
        <button
          (click)="changeState(0)"
          [class.text-red-500]="currentState === 0"
          [class.text-white]="currentState !== 0">
          Pending
        </button>
        <button
          (click)="changeState(1)"
          [class.text-yellow-400]="currentState === 1"
          [class.text-white]="currentState !== 1">
          Playing
        </button>
        <button
          (click)="changeState(2)"
          [class.text-green-400]="currentState === 2"
          [class.text-white]="currentState !== 2">
          Completed
        </button>
      </div>
    </div>
  </div>
</div>
