<div class="w-full min-h-screen relative">
  <img loading="lazy" ngSrc="assets/home/info_image.webp" alt="Info Image" class="w-full h-auto object-cover" fill>
  <div class="absolute flex flex-col top-55 left-30 z-10 gap-15 text-white p-6 **:font-semibold">
    <div class="flex justify-between pr-55 **:gap-2">
      <div class="flex flex-col">
        <h3 class="text-5xl">310K</h3>
        <p class="text-2xl">VIDEO<br>GAMES</p>
      </div>
      <div class="flex flex-col">
        <h3 class="text-5xl">98&#37;</h3>
        <p class="text-2xl">SATISFIED<br>USERS</p>
      </div>
      <div class="flex flex-col">
        <h3 class="text-5xl">100&#43;</h3>
        <p class="text-2xl">DAILY<br>VISITORS</p>
      </div>
    </div>
    <p class="text-2xl/9">We`re constantly working to improve and make your gaming <br>
      experience even better. Your suggestions, ideas and feedback help us <br>
      refine features, add new ones and create the best platform for <br>
      tracking your games.</p>
  </div>
</div>
