<footer class="flex justify-around h-50 py-5 bg-[#F3F3F3] font-sans text-black">
  <div class="flex flex-col justify-around">
    <h1 class="text-3xl font-bold"><a routerLink="/home">GEEXPERT</a></h1>
    <p>Keep track of your favourites video games.<br>Leave no game behind.</p>
    <li class="flex justify-between items-center mt-3 list-none">
      <ul><a href="https://github.com/RedondoDev" target="_blank">
        <img src="assets/footer_logos/github_logo.svg" alt="github_logo">
      </a></ul>
      <ul><a routerLink="/error"><img src="assets/footer_logos/linkedin_logo.svg" alt="linkedin_logo"></a></ul>
      <ul><a routerLink="/error"><img src="assets/footer_logos/x_logo.svg" alt="x_logo"></a></ul>
      <ul><a routerLink="/error"><img src="assets/footer_logos/youtube_logo.svg" alt="youtube_logo"></a></ul>
    </li>
  </div>
  <div class="flex flex-col justify-around">
    <p><b>Developed by </b>
      <a href="https://github.com/RedondoDev" target="_blank" class="hover:underline"><i>RedondoDev</i></a>
    </p>
  </div>
  <div class="flex justify-between w-80">
    <div class="flex flex-col gap-3 justify-center text-center">
      <h5><b>Company</b></h5>
      <ul class="flex flex-col gap-3 list-none">
        <li><a routerLink="/error" class="hover:underline">About</a></li>
        <li><a routerLink="/error" class="hover:underline">Meet the team</a></li>
        <li><a routerLink="/error" class="hover:underline">Contact</a></li>
      </ul>
    </div>
    <div class="flex flex-col gap-3 justify-center text-center">
      <h5><b>Legal</b></h5>
      <ul class="flex flex-col gap-3 list-none">
        <li><a routerLink="/error" class="hover:underline">Privacy Policy</a></li>
        <li><a routerLink="/error" class="hover:underline">Terms & Conditions</a></li>
        <li><a routerLink="/error" class="hover:underline">MIT License</a></li>
      </ul>
    </div>
  </div>
</footer>
